/mp-apps-avm-ui/target/
mp-apps-avm-ui/src/main/resources/model/AVM-ui.vpp*
*.vpp~2

mp-apps-avm-ui/src/main/resources/model/AVM-ui.vpp~1

*.vpp~1
*.iml

.DS_Store
target/
*.iml
*.orig
.idea/
.gradle/